<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../partials/head.ejs%>

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <%include ../partials/headerMenu.ejs%>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <%include ../partials/sidebar.ejs%>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <%include ../partials/headerDesktop.ejs%>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                    <h3>Manage User</h3>
                </div>
                    <div class="card-body">
                        <div class="row m-2 float-right">
                            <a class="btn btn-outline-primary" href="/createUser"><i class="ik ik-plus"></i> Add User</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                <th>Sr. No.</th>
                                <th> First Name</th>
                                <th> Last Name</th>
                                <th> EmailId</th>
                                <th>Contact Number</th>
                                <th>Edit</th>
                                <th>Delete</th>

                                </tr>
                                </thead>
                                <tbody>
                                <%var count =1; for(user of users){%>
                                <tr>
                                    <td><%- count++ %></td>
                                    <td><%- user.FirstName %></td>
                                    <td><%- user.LastName %></td>
                                    <td><%- user.EmailID %></td>
                                    <td><%- user.ContactNumber %></td>

                                    <td>
                                        <a href="/editUser?_id=<%- user._id %>"
                                           class="btn btn-warning btn-lg text-white"><i class="ik ik-edit"></i></a>
                                    </td>
                                    <td>
                                        <a href="/deleteUser?_id=<%- user._id %>"
                                           class="btn btn-danger btn-lg text-white"><i class="ik ik-trash"></i></a>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>

                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>

<%include ../partials/bodyScriptLoader.ejs%>

</body>

</html>
<!-- end document-->
